.product__rating{
    display: flex;
    flex-direction: row;
}

.product{
    display: flex;
    flex-direction: column;
    max-height: 25;
    min-width: (100/16)px;
    margin: 10px;
    padding: 50px;
    width: 100%;
    background-color: white;
    justify-content: center;
    z-index: 1;
}

.product > img{
    height: 15em;
    width: 15em;
    /*object-fit: contain;*/
    margin-bottom: 0.9375em;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

.product__price{
    margin-top: 5px;
}

.product__info{
    /*height: 100px;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    /*justify-self: center;
    align-items: center;*/
}

.product > button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a28;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
}